<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Magento Automation Suite">
    <test name="AllTests">
        <classes>
            <class name="tests.ProductSearchTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.ValidCheckoutTest"/>
        </classes>
    </test>
</suite>
